/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

body {
    padding-bottom: 56px;
}

ul {
    padding-left: 20px;
}

/* Header */
.custom-nav {
    background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.navbar-brand,
.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #ddd;
}

.nav-item.active .nav-link {
    color: #8ed6fc;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
    color: #fff;
}

/* Content */
.container {
    min-height: calc(100% - 56px - 20px - 60px);  /* for sticky footer, subtract navbar and footer heights and margins */
}

/* Hamburger icon color */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2030%2030'%3e%3cpath%20stroke='rgba(255,%20255,%20255,%201)'%20stroke-linecap='round'%20stroke-miterlimit='10'%20stroke-width='2'%20d='M4%207h22M4%2015h22M4%2023h22'/%3e%3c/svg%3e");
}

/* Form styles */
.form-container {
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-control:focus {
    outline: none;
    border-color: #3f5efb;
    box-shadow: 0 0 5px rgba(63, 94, 251, 0.3);
}


.btn:hover {
    background: #3250d9;
}

.textarea {
    width: 100%;
}

.input {
    width: 100%;
}

.my-custom-select {
    width: 100%;
    height: 35px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 10px;
}

.text-bold {
    font-weight: bold;
}

.text-small {
    font-size: 75%
}

a {
    color: black;
}

h1, h2 {
    color: #2364a4;
}

.btn {
    display: block;
    padding: 10px;
    font-size: 16px;
    background: #923FADFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    color: white;
}

.form-container .btn {
    margin-left: auto;
    margin-right: auto;
}

/*Reset and default styles:

Styles that reset or normalize default browser styles should come first, such as body, h1, p, etc.
Layout and structure:

Selectors that define the overall layout and structure of the page, such as containers, grids, and major sections.
Typography:

Selectors related to typography, including headings (h1 to h6), paragraphs, links, and other text elements.
Elements and components:

Selectors for individual elements and reusable components, such as buttons, forms, lists, cards, etc. Group similar elements together.
Specific page styles:

Selectors that apply to specific pages or sections of your website. It's a good idea to organize these in a logical order based on the page structure.
Responsive styles:

Media queries and selectors that handle responsive design should be placed after the base styles. You can organize them based on screen sizes or breakpoints.
Pseudo-classes and pseudo-elements:

Selectors with pseudo-classes (:hover, :active, :focus, etc.) and pseudo-elements (::before, ::after, etc.) can be placed after the main selectors.
Utility classes and modifiers:

If you're using a CSS framework or have utility classes or modifiers, include them last. These classes usually have specific naming conventions and can override previous styles.*/
