/* Add some reset styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Add styling for the header */
header {
    background-color: #5BC0EB;
    padding: 20px;
    display: flex;
    justify-content: space-between; /* Align items horizontally */
    align-items: center; /* Align items vertically */
}
/* Add styling for the navigation links */
header nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
/* Add styling for the main content */
main {
    padding: 20px;
}

/* Add styling for the footer */
footer {
    background-color: #5BC0EB;
    color: white;
    padding: 20px 10px 10px 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 58px;
}

.font-light {
font-weight: lighter;
}
