{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>NotePad</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <header>
        <nav>
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'note_list' %}">Notes</a>
            <a href="{% url 'categories' %}">Categories</a>
            <a href="{% url 'todo_lists' %}">ToDoLists</a>
            {% if user.is_authenticated %}
                <a href="{% url 'team_list' %}">Teams</a>
                <a href="{% url 'team_create' %}">Create a Team</a>
            {% endif %}
        </nav>
        <nav>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Log out</a>
            {% else %}
                <a href="{% url 'login' %}">Log in</a>
            {% endif %}
        </nav>
    </header>
    <main>

        {% block content %}
            <h1>Welcome{% if user.is_authenticated %}, {{ user.username }}{% endif %}!</h1>
        {% endblock %}


    </main>
    <footer>
        reneczka
    </footer>
</body>
</html>
