{#{% extends "base.html" %}#}
{##}
{#{% block content %}#}
{#    <h1>Your notes:</h1>#}
{#    <ul>#}
{#        {% for note in notes %}#}
{#            <li><a href="{% url 'note_detail' note.pk %}">{{ note.title }}</a> - {{ note.content }}</li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#    <a href="{% url 'note_create' %}">Create a note</a>#}
{#    <br>#}
{#    <br>#}
{#    <h1>Notes within your teams:</h1>#}
    {#    <ul>#}
    {#        {% for note in team_notes %}#}
    {#            <li><a href="{% url 'note_detail' note.pk %}">{{ note.title }}</a></li>#}
    {#        {% endfor %}#}
    {#    </ul>#}
{#    {% if user_teams %}#}
{#        <ul>#}
{#            {% for team in user_teams %}#}
{#                <li>#}
{#                <h3><a href="{% url 'team_detail' team.pk %}">{{ team.name }}</a></h3>#}
{#                <p>{{ team.description }}</p>#}
{#                <ul>#}
{#                    {% for note in team_notes %}#}
{#                        <li><a href={% url 'note_detail' note.pk %}>{{ note.title }}</a></li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    {% else %}#}
{#        <p>You are not a member of any teams yet.</p>#}
{#    {% endif %}#}
{##}
{##}
{##}
{#{% endblock %}#}

{% extends "base.html" %}

{% block content %}
    <h2>Your private notes:</h2>
    <ul>
        {% for note in notes %}
            <li><a href="{% url 'note_detail' note.pk %}">{{ note.title }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'note_create' %}" class="text-bold">Create a note</a>
    <br>
    <br>
    <h2>Notes within your teams:</h2>

    {% for team, team_notes in teams_and_notes.items %}
        <h4><a href="{% url 'team_detail' team.pk %}">{{ team.name }}</a></h4>
        <ul>
            {% for note in team_notes %}
                <li><a href="{% url 'note_detail' note.pk %}">{{ note.title }}</a></li>
            {% endfor %}
        </ul>
    {% empty %}
        <p>You are not a member of any teams yet.</p>
    {% endfor %}
{% endblock %}
