{% extends "base.html" %}

{% block content %}
    <h2>Your private notes:</h2>
    <ul>
        {% for note in notes %}
            <li><a href="{% url 'note_detail' note.pk %}">{{ note.title }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'note_create' %}"><button class="button">create a note</button></a>
    <br>
    <br>
    <h2>Notes within your teams:</h2>

    {% for team, team_notes in teams_and_notes.items %}
        <h5><a href="{% url 'team_detail' team.pk %}">{{ team.name }}</a></h5>
        <ul>
            {% for note in team_notes %}
                <li><a href="{% url 'note_detail' note.pk %}">{{ note.title }}</a></li>
            {% endfor %}
        </ul>
    {% empty %}
        <p>You are not a member of any teams yet.</p>
    {% endfor %}
{% endblock %}
