{% extends 'base.html' %}
{% block content %}
    <form method="POST" class="form-container">
        {% csrf_token %}
        <h2 class="form-title">Create a Note</h2>
        <div class="form-group">
            <label for="{{ form.title.id_for_label }}" class="form-label">Title</label>
            {{ form.title }}
        </div>
        <div class="form-group">
            <label for="{{ form.content.id_for_label }}" class="form-label">Content</label>
            {{ form.content }}
        </div>
        <div class="form-group">
            <label for="{{ form.category.id_for_label }}" class="form-label">Category</label>
            {{ form.category }}
        </div>
        <div class="form-group">
            <label for="{{ form.team.id_for_label }}" class="form-label">Team</label>
            {% if user.team_set.exists %}
                {{ form.team }}
            {% else %}
                <p> You are not a member of any teams yet.
            {% endif %}
        </div>
        <button type="submit" class="btn">Create a Note</button>
    </form>
{% endblock %}
