{% extends 'base.html' %}
{% block content %}
    <h2>All teams:</h2>
    {% if all_teams %}
        <ul>
            {% for team in all_teams %}
                <li>
                    <a href="{% url 'team_detail' team.pk %}">{{ team.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no teams yet.</p>
        <br>
    {% endif %}

    <br>
    <br>
    <h2>Your teams:</h2>
    {% if your_teams %}
        <ul>
            {% for team in your_teams %}
                <li>
                    <a href="{% url 'team_detail' team.pk %}">{{ team.name }}</a>
                </li>
            {% endfor %}
            <a href="{% url 'team_create' %}"><button class="btn">create a team</button></a>
        </ul>
    {% else %}
        <p>You are not the owner of any teams yet.</p>
    {% endif %}

    <br>
    <br>
    <h2>Your memberships:</h2>
    {% if member_of_teams %}
        <ul>
            {% for team in member_of_teams %}
                <li>
                    <a href="{% url 'team_detail' team.pk %}">{{ team.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You are not a member of any teams yet.</p>
    {% endif %}
{% endblock %}
