{% extends 'base.html' %}
{% block content %}
    <h1>All teams:</h1>
    {% if all_teams %}
        <ul>
            {% for team in all_teams %}
                <li>
                    <h3 ><a href="{% url 'team_detail' team.pk %}">{{ team.name }}</a></h3>
                    <p>{{ team.description }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no teams yet.</p>
        <br>
        <h3 >Click <a href="{% url 'team_create' %}">here</a> to create a new team!</h3>
    {% endif %}

    <br>
    <br>
    <h1>Your teams:</h1>
    {% if your_teams %}
        <ul>
            {% for team in your_teams %}
                <li>
                    <h3 ><a href="{% url 'team_detail' team.pk %}">{{ team.name }}</a></h3>
                    <p>{{ team.description }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You are not the owner of any teams yet.</p>
    {% endif %}

    <br>
    <br>
    <h1>Your memberships:</h1>
    {% if member_of_teams %}
        <ul>
            {% for team in member_of_teams %}
                <li>
                    <h3 ><a href="{% url 'team_detail' team.pk %}">{{ team.name }}</a></h3>
                    <p>{{ team.description }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You are not a member of any teams yet.</p>
    {% endif %}
{% endblock %}
