{% extends 'base.html' %}

{% block content %}
  <h2>{{ todo_list.title }}</h2>
  <br>
  <h3>Todo Items:</h3>
  <br>
  <form method="POST">
    {% csrf_token %}
    <ul>
      {% for todo_item in todo_items %}
        <li>
          {{ todo_item.title }}
          <label>
            <input type="checkbox" name="todo_item_{{ todo_item.id }}" {% if todo_item.completed %}checked{% endif %}>
          </label>
          <a href="{% url 'update_todo_item' todo_item.id %}">Update</a>
          <a href="{% url 'delete_todo_item' todo_item.id %}">Delete</a>
        </li>
      {% empty %}
        <li>No todo items found.</li>
      {% endfor %}
    </ul>
    <button type="submit">Save Changes</button>
  </form>
  <br>
  <a href="{% url 'create_todo_item' todo_list.id %}">Create Todo Item</a>
  <a href="{% url 'update_todo_list' todo_list.id %}">Update Todo List</a>
  <a href="{% url 'delete_todo_list' todo_list.id %}">Delete Todo List</a>
{% endblock %}
