{% extends 'base.html' %}

{% block content %}
    <h2>Your private ToDoLists:</h2>
    <ul>
        {% for todo_list in todo_lists %}
            <li><a href="{% url 'todo_list_detail' todo_list.pk %}">{{ todo_list.title }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_todo_list' %}"><button class="btn">create a todolist</button></a>
    <br>
    <br>
    <h2>ToDoLists within your teams:</h2>

    {% for team, team_lists in teams_and_lists.items %}
        <h5><a href="{% url 'team_detail' team.pk %}">{{ team.name }}:</a></h5>
        <ul>
            {% for todolist in team_lists %}
                <li><a href="{% url 'todo_list_detail' todolist.pk %}">{{ todolist.title }}</a></li>
            {% endfor %}
        </ul>
    {% empty %}
        <p>You are not a member of any teams yet.</p>
    {% endfor %}

{% endblock %}
